body {
  margin: 0;
  padding: 0;
}

h1 {
  color:#2D2A32
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

/* Create a position for the map on the page */
#map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/*Set rules for how the map overlays (buttons, information, legend) will be displayed on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0;
  font-family: Arial, sans-serif;
  border-radius: 0px;
}
#legend {
  top: 0;
  height: 450px;
  margin-top: 0;
  width: 100px;
  background-color:;
}
.fly-button {
  display: block;
  position: absolute;
  right: 10px;
  width: auto;
  height: 41px;
  padding:3px;
  border: 10px;
  border-radius:20px;
  background-color: #5cb2f5;
  font-size: 18px;
  text-align: left;
  color: white;
}
#fly-home {
top:10px;
}
#fly-start {
top:60px;
}
#fly-finish {
top:110px;
}
#fly-bike {
top:160px;
}
#fly-xc {
top:210px;
}
#fly-snowshoe {
top:260px;
}
#fly-run {
top:310px;
}
#fly-ski {
top:360px;
}


#controls {
  width: 0px;
  top: 10px;
  left: 8px;
  margin-right: 10px;
  background-color: #000000;
}
.button-control {
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  border-radius:5px;
  background-color: white;
  padding: 4px;
  color: black;
  border: 2px solid rgba(223, 223, 223, 63);
}
#button-icon{
  width: 21px;
  height: 21px;
}
#button-fullscreen {
  top: 94px;
}
#button-instructions {
  top: 134px;
  text-align: center;
  font: 18px bold;
}

#title {
  position: relative;
  margin: auto;
  width: 0px;
  height: 0px;
  right: 75px;
  top: 10px;
  background-color: #000000;
  text-align: center;
}
